@import "../variables/variables.scss";
@import "../base/typography.scss";
@import "../layout/postsLayout.scss";

.home {
  background: $background;
  width: $maxWidth;
  height: $maxHeight;
  color: $defaultColor;
  position: fixed;
  overflow: auto;
  z-index: -1;
}

.search,
.add,
.buttons-container button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.home h2 {
  margin: 10px;
  font-family: $GlitchFont;
  font-weight: 400;
  font-size: 1.8rem;
}

.post-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 1rem 0;
}

.buttons-container button {
  color: $defaultColor;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 0.8rem;
}

.post-description {
  margin-top: 0.8rem;
}

hr {
  margin: 1rem;
  color: rgba(211, 211, 211, 0.21);
}

.uploadCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    163.89deg,
    rgba(225, 230, 238, 0.5) 0%,
    rgba(134, 135, 137, 0.3) 98.05%
  );
  width: $maxWidth;
  height: $maxHeight;
  position: absolute;
  backdrop-filter: blur(5px);
  z-index: 99;
}

.searchCard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(
    163.89deg,
    rgba(225, 230, 238, 0.5) 0%,
    rgba(134, 135, 137, 0.3) 98.05%
  );
  width: $maxWidth;
  height: $maxHeight;
  position: absolute;
  backdrop-filter: blur(5px);
  z-index: 99;
}

.commentCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    163.89deg,
    rgba(225, 230, 238, 0.5) 0%,
    rgba(134, 135, 137, 0.3) 98.05%
  );
  width: $maxWidth;
  height: $maxHeight;
  position: absolute;
  backdrop-filter: blur(5px);
  z-index: 99;
  transform: translateY(100%);
  transition: .4s ease-in-out;
}

.showComment {
  transform: translateY(0%);
}

.none {
  display: none;
}