@import "../variables/variables.scss";
@import "../base/typography.scss";
@import "../layout/profileLayout.scss";

.profile {
  overflow-x: auto;
  background: $background;
  width: $maxWidth;
  // height: $maxHeight;
  color: $defaultColor;
  position: absolute;
  padding-top: 1.5rem;
  gap: 1rem;
}

.profile_pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_pic > img {
  position: relative;
  top: 2.5rem;
  right: 2rem;
}

#userEmail {
  font-weight: 400;
  opacity: 0.4;
  font-size: 0.8rem;
}

.counter-container {
  font-weight: bold;
  font-size: 1.3rem;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 19rem;
}

.navbar {
  z-index: 1;
}

.profile {
  z-index: -1;
}
