@import "../variables/variables.scss";
@import "../base/typography.scss";
@import "../layout/profileLayout.scss";

.profile {
  overflow-x: auto;
  background: $background;
  width: $maxWidth;
  height: 100%;
  color: $defaultColor;
  padding-top: 1.5rem;
  gap: 1rem;
  // padding: 1rem;
}

.profile_pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow_button {
  width: 80%;
  height: 35px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.1rem;
  background: rgb(35, 126, 201);
  color: #ffff;
  border: none;
  cursor: pointer;
}

.profile_pic > img {
  position: relative;
  top: 2.5rem;
  right: 2rem;
}

#userEmail {
  font-weight: 400;
  opacity: 0.4;
  font-size: 0.8rem;
}

.counter-container {
  font-weight: bold;
  font-size: 1.3rem;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 19rem;
}

.navbar {
  z-index: 1;
}

.profile {
  z-index: -1;
}

.user-posts {
  margin: 1em auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  flex-direction: column;
  width: 100%;

  > p {
    margin-top: 2rem;
  }

  .post-container {
    display: grid;
    place-items: center;
    width: 100%;
  }
}
