.Search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  background: linear-gradient(
    109.66deg,
    #021222 1.32%,
    rgba(10, 40, 68, 0.8) 100%
  );
  backdrop-filter: blur(25px);
  max-width: 100%;
  height: 30%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
}

.search-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#search {
  width: 370px;
  height: 36px !important;
  border-radius: 50px;
  padding-left: 50px;
  position: relative;
  bottom: 40%;
  position: relative;
  background-image: url("../../assets/search.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 25px;
}

.searchBtn {
  padding: .5rem;
  background-color: #062b5070;
  color: #fff;
  border-radius: 10px;
  width: 100%;
  position: relative;
}

#back {
  position: relative;
  top: 10%;
  right: 40%;
  cursor: pointer;
}
