$background: linear-gradient(
  163.89deg,
  rgb(7, 29, 61) 0%,
  rgba(6, 28, 60, 0.972) 98.05%
);
$filter: blur(20px);
$glass: linear-gradient(
  150.37deg,
  rgba(217, 217, 217, 0.4) 0%,
  rgba(217, 217, 217, 0.1) 45.4%
);

$maxWidth: 100vw;
$maxHeight: 100vh;
$defaultColor: #ffffff;