.posts-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1fr, 100%);
  margin: 2rem;
  // gap: 0rem;
}

.post {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  border: 1px solid #ffff;
  border-radius: 10px;
  width: 95vw;
  // z-index: 0;
}

#user {
  position: relative;
  right: 35%;
  top: 10px;
  margin-bottom: 20px;
}

.comment-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ffff;
  padding: 5px 10px;
  border-radius: 10px;
  width: 90%;
  font-size: 0.9rem;
  background-color: rgb(14, 49, 94);
}

// #username {
//   position: relative;
//   right: 10%;
// }

.post_header {
  display: inline-flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.user {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  width: 100%;
}

.alertBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#commentInput {
  height: 35px;
  background-color: rgb(15, 52, 108);
  caret-color: white;
  color: white;
  border: none;
  margin: 1rem 0;
}

.showComment {
  display: none;
}

.commentInput-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.commentInput-container img {
  width: 25px;
  cursor: pointer;
}
