.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
