@import "../variables/variables.scss";

.spinner-container {
  background: $background;
  height: $maxHeight;
  width: $maxWidth;

  display: flex;
  justify-content: center;
  align-items: center;
}
